*{
    margin: 0;
    font-family: roboto;
}
@font-face{
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
a{
    text-decoration: none;
    color: honeydew; 
}
h1{
    color: rgb(93, 78, 192);
    text-align: center;
    font-size: 48px;
    font-family: roboto;
    font-weight: bold;
}
h2{
   color:rgb(70, 62, 122) ;
   text-align: center;
   font-family: roboto;
}
body{
    background-color: rgb(239, 238, 248);
}
/*меню*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(93, 78, 192);
}
.header__logo {
    width: 75px;
    height: 45px;
    background: url(../images/logo/2.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 20px;
}
.header__menu {
    display: flex;
    gap: 30px;
    list-style: none;
    min-height: 45px;
    align-items: center;
}
/*главная*/
.section_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main__text{
    max-width: 400px;
}
.square{
    width: 384px;
    height: 336px;
    border: 3px solid rgb(93, 78, 192); 
}
.main__img{
    width: 388px;
    height: 340px;
    background-color:rgb(194, 186, 247) ;
}
.img{
    transform:rotate(-10deg) ;
}
.main__text p{
    margin-top: 20px;
}
.mt-h2{
    margin-top:20px ;
    margin-bottom: 20px;
    text-align: left;
}
/*алгоритм*/
.section_algo {
    background-color: rgb(194, 186, 247);
    padding: 20px 0;
}
.algo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 30px;
}
.algo li{
    list-style: none;
    width: 200px;
    height: 70px;
    padding: 10px 10px;
    border: 2px solid rgb(93, 78, 192);
    transition: 2s;
    text-align: center;
    align-items: center;
    font-family: roboto;
    font-size: 12px;
    display: flex;
}
.algo li:hover{
    border-radius: 30px;
    background-color: rgb(93, 78, 192);
    color: ghostwhite;
}
/*отзывы*/
.section_review {
    padding: 50px;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.review {
    width:250px ;
    height: 150px;
    padding: 20px;
    border: 2px solid rgb(93, 78, 192);
}
.review__fio {
    font-family: roboto;
    font-weight: bold;
    font-size: 18px;
    color:rgb(70, 62, 122) ;

}
.review__text {
    font-family: roboto;
    font-size: 14px;
    padding-top: 10px;  
}
/*форма*/
.section_search {
    background-color: rgb(194, 186, 247);
    width: 800px;
    margin: 0 auto;
    padding: 30px;
}
.field1{
    border:1px solid rgb(93, 78, 192) ;
    outline: none;
    background-color:rgb(194, 186, 247);
}
.search_main{
   padding-top: 30px;
}
.search__row{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    align-items: center;
}
.search__row label{
    display: block;
    width: 50%;
    min-width: 200px;
    font-family: roboto;
    font-size: 18px;
}
.search__row select, .search__row input{
    width: 50%;
}
.search__button{
    display: flex;
    justify-content: flex-end;
}
.button {
    display: block;
    flex-shrink: 0;
    background-color:rgb(93, 78, 192)   ;
    font-family: roboto;
    font-size: 14px;
    padding: 10px 20px;
    width: fit-content;
    color: honeydew;
}
select, input{
    height: 35px;
    box-sizing: border-box;
}
/*акции*/
.section_promo {
    padding: 30px;
}
.promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.promo_card{
    width: 300px;
    border: 2px solid rgb(93, 78, 192);
    padding: 20px;
}
.promo__img {
    width: 100%;
    aspect-ratio: 3/2;
    background-size: cover;
}
.promo__namt {
    font-family: roboto;
    font-weight: bold;
    color: rgb(93, 78, 192);
    padding: 10px;
}
.promo__text {
    font-family: roboto;
    font-size: 12px; 
    white-space: pre-wrap;
    padding: 10px;
}
.subscribe {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
/*подвал*/
.footer {
    background-color: rgb(93, 78, 192);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer li{
    list-style: none;
    padding: 5px;
    font-family: roboto;
    padding: 5px;
    color: honeydew;
}
.footer_tel{
    font-family: roboto;
    padding-top: 50px;
}
/*страница поиска локаций*/
.search_h{
   padding:100px ; 
}
.searchs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
}
.search_location{
    width: 600px;
    min-height: 550px;
    border: 2px solid rgb(93, 78, 192); 
}
.search_container{
    padding-left: 50px;
}
.search_img{
    width: 500px;
    height: 300px;
    padding: 20px 50px;
}
.search_region{
    padding-top: 10px;
}
.search_dt{
    font-weight: bold;
    padding-top: 10px;
}
.search_address{
    padding-top: 10px;
}
.button-search{
    margin-top: 30px;
}
/*выбор зоны локации*/

.search_res{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
}
.sz{
    border: 2px solid rgb(93, 78, 192) ;
    padding: 20px;
}
.button-sz{
    margin-top: 20px;
}
/*бронирование*/
.st{
   padding-bottom: 40px; 
}
.search {
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid rgb(93, 78, 192) ;
    margin-bottom: 50px;
}
.search__field {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}
.search__field label{
    display: block;
    min-width: 200px;
    width: 50%;
}
.search__field select, .search__field input,.search__field textarea {
    width: 50%;
}
.chb{
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid rgb(93, 78, 192) ;
    margin-bottom: 50px;
}
.check{
   padding: 10px;
}
textarea{
    height: 70px;
    border:1px solid rgb(93, 78, 192) ;
    background-color: rgb(239, 238, 248);;
}
.field{
    border:1px solid rgb(93, 78, 192) ;
    outline: none;
    background-color:rgb(239, 238, 248);  
}
